.image_container {
    display:grid;
    grid-template-columns: repeat(7, 2fr);
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0.2);
    height: 400px;
    gap:0;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 95%);
    background-color: #000000;
    position: relative;
}

.image {
    border-radius: 8px;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
}

.image.large {
    width : 200px;
    height: 150px;
}

.image.medium {
    width: 100px;
    height: 200px;
}

.image.small {
    width: 100px;
    height: 150px;
}

.get_started {
    position: absolute;
   /* top: 135%;*/
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20PX 70PX;
    background-color: #F6550D;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-synthesis-weight: bold;
    transition: background-color 0.3s ease;
    text-align: center;
    justify-content: center;
}

.get_started:hover {
    background-color: #361505;
}

@media screen and (max-width: 768px) {
    .image_container {
        grid-template-columns: repeat(3, 1fr);
        height: 300px;
    }

    .image.large {
        width: 100px;
        height: 100px;
    }

    .image.medium {
        width: 80px;
        height: 150px;
    }

    .image.small {
        width: 70px;
        height: 100px;
    }

    .get_started {
        padding: 15px 40px;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .image_container {
        grid-template-columns: repeat(2, 1fr);
        height: 250px;
    }

    .image.large {
        width: 80px;
        height: 80px;
    }

    .image.medium {
        width: 70px;
        height: 120px;
    }

    .image.small {
        width: 60px;
        height: 90px;
    }

    .get_started {
        padding: 12px 30px;
        font-size: 14px;
    }
    
}